/* Header */
.header {
    position: sticky;
    z-index: 500;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    height: 76px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.05);
    font-family: Poppins,"sans-serif";
}
.Header__left-container-web {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 0 0 0 1.5rem;
    box-sizing: border-box;
    transition: width 1s ease;
}
.Header__left-container-web, .student-panel-header {
    justify-content: space-between;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.header_logo_no_margin {
    margin-left: 25px;
}
.header_logo img {
    float: left;
    height: 75px;
    width: 166px;
    margin-right: 20%;
    padding-left: 5%;
}


.studentPanelNavBar_container {
    width: 40%;
}
.studentPanelNavBar_Right-container {
    width: 100%;
    justify-content: space-between;
}

.studentPanelNavBar_Right-container, .wideDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -10%;
    text-align: center;
}
.studentPanelNavBar_profile {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_program_container {
    margin-top: 20px;
    text-align: right;
    white-space: nowrap;
}
.studentPanelNavBar_Right-container menu, .wideDiv menu {
    display: inline;
    padding-top: 0;
    text-align: center;
    letter-spacing: 1.5px;
    color: #4b8ce8;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.userName {
    height: 100%;
    margin-left: 55px;
    text-transform: capitalize;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}
.user, .userName {
    display: inline-block;
}
.jss2 {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.jss3 {
    color: #fff;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 2px;
    background-color: #03A6EC;
}
/* .MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #bdbdbd;
} */

.MuiAvatar-root {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}
.ProfileAvatar {
    margin-left: 10px;
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 400;
    font-weight: 400;


    text-align: center;
    letter-spacing: 1.5px;
    color: #4b8ce8;
    font-size: 18px;
    font-weight: 500;
}


@media screen  and (max-width : 490px){
    .studentPanelNavBar_container {
        width: 40%;
    }
    .header_logo_no_margin {
        margin-left: 0px;
    }
    .ProfileAvatar, .studentPanelNavBar_menu-list {
        display: none!important;
    }
}

@media screen and (max-width : 375px) {
    .studentPanelNavBar_container {
        width: 39%;
    }
    .userName {
        width: inherit;
    }
}




.panel-section-container {
    display: flex;
}



/* Side Bar */

.panel-side-nav {
    position: relative;
}
.Profile_nav {
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background: #fff 0 0 no-repeat padding-box;
    transition: width .8s ease;
    font: normal normal 500 14px/17px Inter;
    box-shadow: 10px 0 10px -5px rgb(33 35 38/10%);
}
.Profile_container {
    position: fixed;
}
.Profile_nav a {
    color: inherit;
    display: flex;
    justify-content: center;
}
.Profile_nav_selected {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: #ecf9ff;
    color: #5393ec;
    border-right: 3px solid #5393ec;
    padding-left: 5px;
    transition: width .8s ease;
}
.Profile_nav-list-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}
.Profile_nav-list-detail {
    margin-left: 70px;
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
    transition-delay: .3s;
}




/* Course Line */

.panel-section {
    background-color: #f0f3f4;
    display: flex;
    padding: 2rem .5rem 2rem 2rem;
    width: 100%;
    min-height: 90vh;
}
.mycourses-section {
    width: 100%;
}
.mycourses-section_top {
    width: 92%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 16px;
}
.mycourses-section_top_view {
    letter-spacing: .22px;
    color: #817f7f;
    opacity: 1;
    display: flex;
    line-height: 20px;
    text-align: center;
}
.mycourses-section_tab_active {
    position: relative;
    display: table-cell;
    transition: all .3s ease;
    padding: 1em 1.6em;
    transform: translateZ(0);
    color: #00a5ec;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
.mycourses-section_tab_active:after {
    transition: all .3s cubic-bezier(1,0,0,1);
    will-change: transform,box-shadow,opacity;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px 3px 0 0;
    background: #00a5ec;
    box-shadow: 0 4px 10px 3px rgba(#00a5ec,.15);
    opacity: 0;
    transform: scaleX(0);
    opacity: 1;
    transform: scale(1);
}

.mycourses-section_courses-container {
    width: 92%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}


/* Course Card Style */
.EnrolledCourseCard__container {
    margin: 15px;
    box-shadow: 0 4px .9em #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 282px;
    height: 348px;
    background: transparent linear-gradient(180deg,#fff,#fff 24%,#fff 38%,hsla(0,0%,100%,.03137254901960784)) 0 0 no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 0 12px;
    width: 304px;
    height: 304px;
}
.EnrolledCourseCard__container-bg-image {
    position: absolute;
}
.EnrolledCourseCard__container-progress-bar-container.progress-bar-top-margin {
    margin-top: 2rem;
}
.EnrolledCourseCard__container-progress-bar-container {
    display: flex;
    padding: 8px 0;
    width: 100%;
}
.EnrolledCourseCard__container-progress-bar, .EnrolledCourseCard__container-progress-bar .MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
}
.EnrolledCourseCard__container-course-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.EnrolledCourseCard__container-dates-container {
    width: 65%;
    border-left: 1px solid #cbcbcb;
    margin: 2px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5rem;
    height: 96px;
}

.EnrolledCourseCard__container-dates-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 124px;
    height: 31px;
}
.EnrolledCourseCard__container-date-icon {
    width: 24px;
    height: 24px;
}
.EnrolledCourseCard__container-dates {
    width: 89px;
    height: 31px;
}
.EnrolledCourseCard__container-date-label {
    height: 12px;
    text-align: left;
    font: normal normal normal 10px/12px Inter;
    letter-spacing: .16px;
    color: #424242;
}
.EnrolledCourseCard__container-date {
    text-align: left;
    letter-spacing: .22px;
    color: #424242;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    font: normal normal 500 12px/18px Inter;
}
.EnrolledCourseCard__container-heading {
    letter-spacing: .38px;
    color: #424242;
    opacity: 1;
    width: 235px;
    height: 75px;
    text-align: left;
    font: normal normal 700 22px/32px Inter;
    width: 260px;
}
.EnrolledCourseCard__container-btn-container {
    min-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.EnrolledCourseCard__container-button {
    color: #fff;
    padding: 6px 30px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    background: #00a5ec 0 0 no-repeat padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    text-align: center;
    width: 234px;
    height: 38px;
    width: 260px;
    z-index: 1;
    font: normal normal 700 14px/17px Inter;
}
.EnrolledCourseCard__container-button.button-padding-btm {
    margin-bottom: .5rem;
}




/* When side Nav is close */

.Profile_nav_close {
    width: 70px;
    overflow: hidden;
}

/* when Side Nav is Close Then Text */
.Profile_nav-list-detail-close {
    margin-left: 70px;
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s,opacity .2s linear;
}






@media screen and (max-width : 1024px) {
    .Profile_nav_close {
        padding: 0;
        text-align: center;
        margin-left: -5px;
        width: 0;
        overflow-x: hidden;
    }
    
    .panel-side-nav {
        position: fixed;
        z-index: 20;
        height: 100%;
    }
    .Profile_nav-list-detail-close {
        margin-left: 32px;
        width: 67%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s,opacity .3s linear;
    }

    .Profile_nav_close{
        padding: 0;
        text-align: center;
        margin-left: -5px;
        width: 0;
        overflow-x: hidden;
    }
    .Profile_nav_close .Profile_nav-list-icon .MuiSvgIcon-root {
        display: none;
    }     
}


@media screen and (max-width: 600px) {
    .mycourses-section_courses-container {
        justify-content: center;
    }
    .max-Width{
        min-width: 304px;
    }
}


@media screen and (max-width: 400px) {
    .mycourses-section_courses-container {
        width: 100%;
    }
}

@media screen and (max-Width:345px) {
    .max-Width{
        min-width: 90%;
    }
}




