.StudentsPlaced {
    background: #fff;
}
.StudentsPlaced__main {
    padding: 80px 0;
    max-width: 1088px;
    margin: 0 auto;
}
.StudentsPlaced__main--heading {
    text-align: center;
    color: #3e4041;
    font-size: 40px;
    font-weight: 600;
}
.StudentsPlaced__main--subheading {
    text-align: center;
    color: #858585;
    font-size: 16px;
    width: 30%;
    margin: 7px auto 90px;
}
.StudentsPlaced__main-companies {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.StudentsPlaced__main-companies-container, .StudentsPlaced__main-companies-container-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.StudentsPlaced__main-companies-container{
    flex-wrap: wrap;
}

.StudentsPlaced__main-companies-container-box {
    -webkit-box-shadow: 0 10px 35px rgba(4,4,4,.0784313725490196);
    box-shadow: 0 10px 35px rgba(4,4,4,.0784313725490196);
    border-radius: 6px;
    margin: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.StudentsPlaced__main-companies-container-box--img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .StudentsPlaced__main-companies-container-box--img {
        height: 50px;
        width: 50px;
    }
    .StudentsPlaced__main--heading {
        font-size: 24px;
    }
    .StudentsPlaced__main--subheading {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 14px;
    }
}