.CoursePageStats, .CoursePageStatsElevation {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin: 2rem auto;
    max-width: 1147px;
    margin-bottom: 3rem;
}
.CoursePageStats__stat-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0rem;
    height: 100%;
}
.CoursePageStats__stat-container h1 {
    text-align: center;
    color: #00a6eb;
    font: normal normal 700 2.75rem/4rem Inter;
}
.CoursePageStats__stat-container p {
    text-align: center;
    font: normal normal 500 1.1rem/2rem Inter;
    color: #322e2e;
}
@media screen and (max-width: 768px) {
    .CoursePageStats, .CoursePageStatsElevation {
        flex-direction: column;
    }
    .CoursePageStats__stat-container {
        width: 100%;
        padding: 1rem 0rem;
    }
}