.leading-mentors {
    max-width: 1147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 3rem auto;
    margin-bottom: 1rem;

}

.leading-mentors h2 {
    color: #151414;
    font: normal normal 500 1.75rem/2rem Inter;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;

}

.leading-mentors h3 {
    font: normal normal 400 1.4rem/2rem Inter;
    color: #151414;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

.founder {
    display: flex;
    gap: 20px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px rgba(162, 161, 161, .1607843137);
    border-radius: 5px;
    height: 120px;
    max-width: 300px;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: space-between;
    /* padding: 77px 19px; */

}

.inner-leading-mentors {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inner-founder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.inner-founder h4{
    color: #000;
    font: normal normal 600 1.1rem/1.25rem Inter;
}
.inner-founder p{
    font: normal normal 400 .8rem/1.5rem Inter;

}

.leading-mentors .founder .imgofmentor {
    width: 25%;
}

.leading-mentors .founder .inner-founder img {
    height: 2.1rem;
}